{% extends "base.html" %}
{% block title %}播放界面{% endblock %}
{% block js %}

{% load static %}

<script src="{% static "curriculum/jquery-3.3.1.js" %}"></script>


<script>
function loadXMLDoc(id)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("play").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","/play_ajax_obj/"+id,true);
xmlhttp.send();
}
<!--ajax 视频选集-->
<!--$(document).ready(function(){-->
    <!--$("button").click(function () {-->
        <!--var id=$(this).attr("about")-->
        <!--$("#play").load('/play_ajax_obj/'+id);-->
        <!--});-->
<!--});-->

<!--爬虫,需要更改JS，使得可以下载完界面就运行爬虫AJAX返回信息-->
$(document).ready(function(){
        var id={{ series_id }}
        $("#jd_book").load('/jd_book/'+id);
});



</script>



{% endblock %}

{% block content %}


{% endblock %}
