{% extends "curriculum/play_script.html" %}

{% block content %}
<h1>播放</h1>
<div id="play">
<video width="320" height="240" controls="controls">
  <source src="" type="video/mp4">
Your browser does not support the video tag.
</video>

</div>
{% for i in cur_list %}
<button about="{{ i.id }}" id="but{{ forloop.counter }}">{{ i.name }}</button>
{% endfor %}

<div id="msgBox" onload="tab()">
    <form action="post_comment/" method="post">
        {% csrf_token %}
        <h2>来 , 说说你在做什么 , 想什么</h2>
        <div>{{ comment_form.body }}</div>
        <div class="tr">
            <p>
                <span class="countTxt">还能输入</span><strong class="maxNum">140</strong><span>个字</span>

                <input id="sendBtn" type="submit" value="提交" title="快捷键 Ctrl+Enter" />
            </p>
        </div>
    </form>
    <div class="list">
        <h3><span>大家在说</span></h3>

        {% for i in comment_list %}
        <ul id="ul1">

    {{ i.name }} {{ i.body }} {{ i.time }} {{ i.href }}
        </ul>
        {% endfor %}
    </div>
</div>
<div id="jd_book"></div>

{% endblock %}