{% extends "base.html" %}
{% block title %}播放界面{% endblock %}
{% block js %}
{% load static %}

<script src="{% static "curriculum/jquery-3.3.1.js" %}"></script>


<script>
$(document).ready(function(){
    $("button").click(function () {
        var id=$(this).attr("about")
        $("#play").load('/play_ajax_obj/'+id);
        });
});
</script>

{% endblock %}
{% block content %}
<h1>播放</h1>
<div id="play">
<video width="320" height="240" controls="controls">
  <source src="" type="video/mp4">
Your browser does not support the video tag.
</video>

</div>
{% for i in list %}
<button about="{{ i.id }}" id="but{{ forloop.counter }}">{{ i.name }}</button>
{% endfor %}

{% endblock %}